html, body {
    margin: 5px;
    padding-bottom: 2em;
    background: #7cc6fe;
    font-family: sans-serif;
}

.section-container {
    /* display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: auto auto auto;
    justify-content: center; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
}

.section {
    background-color: #23967f;

    width: 15em;

    border-radius: 1.5em;
    border-style: solid;
    border-width: 0.50rem;
    border-color: #d6d6d6;

    padding: 50px;
    margin: 20px;

    text-align: center;

    transition:all 200ms ease;
}

.section h1 {
    font-size: 1.5em;
}

.section p {
    font-size: 1.0em;
}

.section:hover {
    transform: scale(1.05);
    background: #545643;
    border-color: #d1b490;
    color:crimson;
}

h1, h2, h3, h4, p {
    color: rgb(252, 247, 247);
    text-align: center;
}